<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fizzler" version="1.2.0" targetFramework="net472" />
  <package id="HarfBuzzSharp" version="2.6.1.7" targetFramework="net472" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="2.80.2" targetFramework="net472" />
  <package id="Softlion.XamSvg.Free" version="2.4.7" targetFramework="net472" />
  <package id="Svg.Custom" version="0.5.4" targetFramework="net472" />
  <package id="Svg.Model" version="0.5.4" targetFramework="net472" />
  <package id="Svg.Skia" version="0.5.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="net472" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="net472" />
  <package id="Xamarin.FFImageLoading.Svg" version="2.4.11.982" targetFramework="net472" />
  <package id="Xamarin.FFImageLoading.Svg.Forms" version="2.4.11.982" targetFramework="net472" />
  <package id="Xamarin.Forms" version="3.3.0.912540" targetFramework="net472" />
</packages>